*{
    margin: 0;
    padding: 0;

}


input{
    margin-left: 40%;
}

#categories{
    width: 800px;
    margin-left: 50px;
    height: 40px;
    position: relative;
    display: block;
    float: left;
    background-color: white;
   
}
#menu{
    top:50px;
    width: 800px;
    position: relative;
    margin-left: 50px;
    height: 70px;
    display: block;
}
.info{
    outline: auto;
    padding: 20px;
    height: 60px;
    width: 60px;
    float: left;
    text-align: center;
}
.info2{
    outline: auto;
    padding: 20px;
    height: 100%;
    width: 60px;
    float: left;
    text-align: center;
    background-color: white;
    
}   

#guess{
    padding: 10px
}

#kont-inp{
    display: block;
    width: 100px;
    margin-left: 25%;
}

.nigerground{
background-image: url('walpapa.jpeg'); 
backgrounds-size: cover;
}
/* Dla urządzeń o szerokości maksymalnej 1200px (tablety i małe laptopy) */
@media (max-width: 1200px) {
    .container {
        padding: 15px; /* Mniejsze odsunięcie */
    }
}

/* Dla urządzeń o szerokości maksymalnej 768px (tablety) */
@media (max-width: 768px) {
    .container {
        padding: 10px;
    }
    
    .item {
        flex: 1 1 100%; /* Pełna szerokość */
    }
}

/* Dla urządzeń o szerokości maksymalnej 480px (smartfony) */
@media (max-width: 480px) {
    body {
        font-size: 14px; /* Mniejsza czcionka */
    }
    
    .item {
        flex: 1 1 100%; /* Pełna szerokość */
        padding: 5px; /* Mniejsze odsunięcie */
    }
}

#anotherContainer{
    display: block;
    width: 100px;
    margin-left: 25%;
    
}
